<div class="popup-overlay" *ngIf="isOpen" (click)="onClose()">
    <div class="popup-box" [ngClass]="{ 'green': isGreen, 'red': !isGreen }" (click)="$event.stopPropagation()">
        <button class="close-icon" (click)="onClose()">×</button>
        <div class="popup-header">
            <div class="icon" [ngClass]="{ 'icon-success': isGreen, 'icon-fail': !isGreen }">
                {{ isGreen ? '✔' : '✖' }}
            </div>
            <h2 [ngClass]="{ 'green-title': isGreen, 'red-title': !isGreen }">{{ title }}</h2>
        </div>
    </div>
</div>