.popup-overlay {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 999;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    width: auto;
    height: auto;
}

.popup-box {
    position: relative;
    background: white;
    padding: 12px 14px;
    border-radius: 8px;
    width: 300px;
    min-height: 80px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    animation: slideIn 0.3s ease;
    display: flex;
    border-left: 5px solid transparent;
}

.popup-header {
    display: flex;
    align-items: center;
    /* margin-bottom: 8px; */
}

/* Cross button (top-right corner) */
.close-icon {
    position: absolute;
    top: 6px;
    right: 10px;
    background: none;
    border: none;
    font-size: 24px;
    color: #999;
    cursor: pointer;
    padding: 0;
    line-height: 1;
}

.close-icon:hover {
    color: #333;
}

.icon {
    font-size: 20px;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin-right: 12px;
}

.icon-success {
    background-color: green;
}

.icon-fail {
    background-color: red;
}

.green {
    border-left: 5px solid green;
}

.red {
    border-left: 5px solid red;
}

.green-title {
    color: green;
    font-size: 18px;
    margin: 0;
}

.red-title {
    color: red;
    font-size: 18px;
    margin: 0;
}

/* Slide-in animation */
@keyframes slideIn {
    from {
        transform: translateX(-20px);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}