<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up - FitTracker</title>
    <link rel="stylesheet" href="./sign-up.component.css">
</head>
<app-popup [isOpen]="isOpen" [description]="errorMessage" [title]="poptitle" [isGreen]="false"
    (close)="closePopup()"></app-popup>
<app-loader [loading]="isLoading" [title]="loadingTitle"></app-loader>

<body class="signup-body">
    <div class="signup-container">


        <!-- Header -->
        <div class="signup-header">
            <div class="logo">🏃‍♀️ FitTracker</div>
            <h1 class="signup-title">Let's Tailor Your Fitness Journey!</h1>
            <p class="signup-subtitle">You got this! Let's create your personalized plan 🌟</p>
        </div>

        <!-- Sign Up Form -->
        <div class="form-card">
            <form class="signup-form" [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
                <!-- Personal Information -->
                <div class="form-section">
                    <h3 class="section-title">
                        <span class="section-icon">👤</span>
                        Personal Information
                    </h3>
                    <div class="form-row">
                        <div class="form-group">
                            <label for="fullName" class="form-label">Full Name</label>
                            <div class="input-wrapper">
                                <span class="input-icon">✏️</span>
                                <input formControlName="fullName" type="text" id="fullName" name="fullName"
                                    class="form-input" placeholder="Your full name" />
                                <div *ngIf="signUpForm.get('fullName')?.invalid && signUpForm.get('fullName')?.touched"
                                    class="error">
                                    <small *ngIf="signUpForm.get('fullName')?.errors?.['required']">Fullname is
                                        required.</small>
                                    <small *ngIf="signUpForm.get('fullName')?.errors?.['minlength']">Fullname must be at
                                        least
                                        5
                                        characters.</small>
                                    <small *ngIf="signUpForm.get('fullName')?.errors?.['maxlength']">Fullname must be no
                                        more
                                        than
                                        100 characters.</small>

                                </div>

                            </div>
                        </div>

                        <div class="form-group">
                            <label for="email" class="form-label">Email Address</label>
                            <div class="input-wrapper">
                                <span class="input-icon">📧</span>
                                <input formControlName="email" type="email" id="email" class="form-input"
                                    placeholder="your@email.com" required />
                                <div *ngIf="!isEmailValid || signUpForm.get('email')?.invalid && signUpForm.get('email')?.touched"
                                    class="error">
                                    <small *ngIf="!isEmailValid || signUpForm.get('email')?.errors">please enter valid
                                        email</small>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="password" class="form-label">Password</label>
                        <div class="input-wrapper">
                            <span class="input-icon">🔒</span>

                            <!-- Password Input with dynamic type -->
                            <input formControlName="password" [type]="isPasswordOpen ? 'text' : 'password'"
                                id="password" class="form-input" placeholder="Create a secure password" required />

                            <!-- Toggle Icon -->
                            <span class="toggle-password" (click)="isPasswordOpen = !isPasswordOpen">
                                <i class="fas" [ngClass]="isPasswordOpen ? 'fa-eye-slash' : 'fa-eye'"></i>
                            </span>

                            <!-- Validation Messages -->
                            <div *ngIf="signUpForm.get('password')?.invalid && signUpForm.get('password')?.touched"
                                class="error">
                                <small *ngIf="signUpForm.get('password')?.errors?.['required']">Password is
                                    required.</small>
                                <small *ngIf="signUpForm.get('password')?.errors?.['minlength']">Password must be at
                                    least 6 characters.</small>
                                <small *ngIf="signUpForm.get('password')?.errors?.['maxlength']">Password must be no
                                    more than 100 characters.</small>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Physical Information -->
                <div class="form-section">
                    <h3 class="section-title">
                        <span class="section-icon">📏</span>
                        Physical Information
                    </h3>

                    <div class="form-group">
                        <label class="form-label">Gender</label>
                        <div class="radio-group">
                            <label *ngFor="let option of genderOptions" class="radio-option">
                                <input formControlName="gender" type="radio" [value]="option.value" />
                                <span class="radio-custom"></span>
                                <span class="radio-text">{{ option.label }}</span>
                            </label>
                        </div>
                    </div>

                    <!-- Height and Weight -->
                    <div class="form-row">
                        <div class="form-group">
                            <label for="height" class="form-label">Height (cm)</label>
                            <div class="input-wrapper">
                                <span class="input-icon">📏</span>
                                <input formControlName="height" type="number" id="height" name="height"
                                    class="form-input" placeholder="170" required />
                                <div *ngIf="signUpForm.get('height')?.invalid && signUpForm.get('height')?.touched"
                                    class="error">
                                    <small *ngIf="signUpForm.get('height')?.errors?.['required']">Height is
                                        required.</small>
                                    <small *ngIf="signUpForm.get('height')?.errors?.['min']">Height must be at least
                                        50cm.</small>
                                    <small *ngIf="signUpForm.get('height')?.errors?.['max']">Height must be no more than
                                        300 cm.</small>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="weight" class="form-label">Weight (kg)</label>
                            <div class="input-wrapper">
                                <span class="input-icon">⚖️</span>
                                <input formControlName="weight" type="number" class="form-input" placeholder="70" />
                                <div *ngIf="signUpForm.get('weight')?.invalid && signUpForm.get('weight')?.touched"
                                    class="error">
                                    <small *ngIf="signUpForm.get('weight')?.errors?.['required']">Weight is
                                        required.</small>
                                    <small *ngIf="signUpForm.get('weight')?.errors?.['min']">Weight must be at least 30
                                        kg.</small>
                                    <small *ngIf="signUpForm.get('weight')?.errors?.['max']">Weight must be no more than
                                        300 kg.</small>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="age" class="form-label">Age</label>
                            <div class="input-wrapper">
                                <span class="input-icon">📅</span>
                                <input formControlName="age" type="number" class="form-input" required placeholder="170"
                                    min="10" max="100" required />
                                <div *ngIf="signUpForm.get('age')?.invalid && signUpForm.get('age')?.touched"
                                    class="error">
                                    <small *ngIf="signUpForm.get('age')?.errors?.['required']">Age is
                                        required.</small>
                                    <small *ngIf="signUpForm.get('age')?.errors?.['min']">Age must be at least 10
                                        yrs.</small>
                                    <small *ngIf="signUpForm.get('age')?.errors?.['max']">Age must be no more than
                                        120 yrs.</small>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="activityLevel" class="form-label">Activity Level</label>
                            <select id="activityLevel" class="form-select" formControlName="activityLevel">
                                <option *ngFor="let level of activityOptions" [ngValue]="level.value">
                                    {{ level.label }}
                                </option>

                            </select>
                        </div>
                    </div>
                </div>
                <!-- Dietary Preferences -->
                <div class="form-section">
                    <h3 class="section-title">
                        <span class="section-icon">🌱</span>
                        Dietary Preference
                    </h3>
                    <div class="diet-options" *ngFor="let diet of dietOptions">
                        <label class="goal-card">
                            <input type="radio" formControlName="dietType" name="dietType" value="veg" checked
                                [value]="diet.value" />
                            <div class="goal-content">
                                <div class="goal-header">
                                    <span class="goal-emoji">{{dietaryTitleEmoji(diet.value)}}</span>
                                    <span class="goal-title">{{dietaryTitle(diet.value)}}</span>
                                </div>
                                <p class="goal-description">{{dietaryDescription(diet.value)}}</p>
                            </div>
                        </label>
                    </div>
                </div>



                <!-- Fitness Goals -->
                <div class="form-section">
                    <h3 class="section-title">
                        <span class="section-icon">🎯</span>
                        Your Fitness Goal
                    </h3>
                    <div class="goal-options">
                        <label class="goal-card" *ngFor="let fit of fitnessGoalOptions">

                            <input formControlName="fitnessGoal" type="radio" [value]="fit.value" checked />
                            <div class="goal-content">
                                <div class="goal-header">
                                    <span class="goal-emoji">{{goalEmoji(fit.value)}}</span>
                                    <span class="goal-title">{{goalTitle(fit.value)}}</span>
                                </div>
                                <p class="goal-description">{{goalDescription(fit.value)}}</p>
                            </div>
                        </label>
                    </div>
                </div>
                <!-- Location -->
                <div class="form-section">
                    <h3 class="section-title">
                        <span class="section-icon">📍</span>
                        Location
                    </h3>
                    <div class="form-group">
                        <label for="location" class="form-label">Your Location</label>
                        <div class="input-wrapper">
                            <span class="input-icon">🌍</span>
                            <input formControlName="location" type="text" id="location" name="location"
                                class="form-input" placeholder="Enter your city or area" required />
                        </div>
                        <p class="privacy-note">For better diet plan give us text location we do not track</p>
                    </div>
                </div>
                <!-- Submit Button -->
                <button type="submit" class="btn-signup">Create Account</button>

                <!-- Login Link -->
                <div class="auth-link">
                    <p>Already have an account? <a href="login.html">Log In</a></p>
                </div>
            </form>
        </div>

        <!-- Motivational footer -->
        <div class="signup-footer">
            <p>"The best time to plant a tree was 20 years ago. The second best time is now." 🌱</p>
        </div>
    </div>
</body>

</html>